* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

img {
   vertical-align: middle;
}


:root {
   --font-Book: 'Futura PT Book';
   --font-CondMedium: 'Futura PT Cond Medium';
   --font-Demi: 'Futura PT Demi';
   --font-Heavy: 'Futura PT Heavy';
   --font-Light: 'Futura PT Light';
   --font-Medium: 'Futura PT Medium';
   --color-orange: #F3523C;
   --color-blue: #425FDE;
   --color-grey: #949494;
   --color-black: #1E1E1E;
   --color-white: #FFFFFF;
   --color-background-dark: #353535;
}

@font-face {
   font-family: 'Futura PT Book';
   src: url(../fonts/Futura_fonts/FuturaBookC.woff);
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: 'Futura PT Cond Medium';
   src: url(../fonts/Futura_fonts/FuturaTSCondensed-Medium.woff);
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: 'Futura PT Demi';
   src: url(../fonts/Futura_fonts/FuturaDemiC.woff);
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: 'Futura PT Heavy';
   src: url(../fonts/Futura_fonts/FuturaLT-Heavy.woff);
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: 'Futura PT Light';
   src: url(../fonts/Futura_fonts/FuturaLightC.woff);
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: 'Futura PT Medium';
   src: url(../fonts/Futura_fonts/FuturaMediumC.woff);
   font-style: normal;
   font-weight: normal;
}



.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--color-black);
   padding: 30px 160px;
   margin: 0 auto;
   position: fixed;
   top: 0;
   z-index: 5;
   height: 90px;
   width: 100%;
}

.search-container {
   position: relative;

}


.search-container input {
   padding-left: 35px;
   color: var(--color-white);
}

.loupe {
   position: absolute;
   left: 12px;
   top: 5px;
}



.logo {
   position: absolute;
   align-items: center;
   z-index: 10;
   top: 0;
}

input {
   border-radius: 17.5px;
   background-color: rgba(255, 255, 255, 0.07);
   border: none;
   min-height: 28px;
}

.top-right {
   display: flex;
   align-items: center;
   justify-content: center;
}

.top-right-text {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 22px;
   margin-right: 49px;

}


.top-right-text a {
   background-color: var(--color-black);
   border: none;
   text-decoration: none;
   color: var(--color-white);
   cursor: pointer;
   font-family: var(--font-Book);
   font-weight: 400;
   line-height: 14.07px;
   font-size: 13px;
}

.top-right-text li:first-child::after {
   content: url(../img/range.svg);
   margin-left: 3px;
}

.top-right-pics {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 12px;
}

.top-right-pics a {
   background-color: var(--color-black);
   cursor: pointer;
   border: none;
}

.burger span {
   content: "\2630";
   display: none;
}


.place_an_order_pics {
   background-color: var(--color-black);
   color: var(--color-white);
   margin-top: 90px;
   margin-bottom: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   min-height: 604px;
   height: 100%;
   width: 100%;
}

.place_an_order {
   z-index: 1;
   position: absolute;
   top: 20px;
   max-width: 237px;
   width: 100%;
}

.ryba_place_an_order {
   position: absolute;
   top: 78px;
   max-width: 1358px;
   width: 100%;
}

.how_to {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 12px;
   background-color: rgba(148, 148, 148, 0.15);
   border: none;
   border-radius: 17px;
   max-width: 1120px;
   width: 100%;
   padding: 30px 94px 52px 95px;
   margin: 0 auto;
   margin-bottom: 64px;
}

.how_to_title {
   font-family: var(--font-Medium);
   font-weight: 450;
   font-size: 32px;
   line-height: 34.62px;
   text-transform: uppercase;
   text-align: center;
}

.how_to_text {
   font-family: var(--font-Light);
   font-weight: 300;
   font-size: 20px;
   line-height: 19.84px;
   text-align: justify;
}

.items_to_order {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   max-width: 1120px;
   width: 100%;

   margin: 0 auto;
}

.title_item_to_order {
   max-width: 278px;
   width: 100%;
   font-family: var(--font-Medium);
   font-weight: 450;
   font-size: 32px;
   line-height: 34.62px;
   text-transform: uppercase;
   margin-bottom: 22px;
   border-bottom: 2px solid var(--color-black);
}

.gallery_items_to_order {
   display: grid;
   grid-template-columns: repeat(auto-fill, 200px);
   grid-gap: 30px;
   align-items: center;
   align-content: center;
   justify-content: center;
   width: 100%;
   margin-bottom: 49px;
}

.conditions {
   background-color: rgba(148, 148, 148, 0.15);
   border: none;
   border-radius: 17px;
   max-width: 1120px;
   width: 100%;
   padding: 26px 95px 33px 93px;
   margin: 0 auto;
   margin-bottom: 29px;
   font-family: var(--font-Medium);
}

.tittle_conditions {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
   font-weight: 450;
   font-size: 32px;
   line-height: 34.62px;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 3px;
}

.choose_dates {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-wrap: nowrap;
   margin-bottom: 6px;
   font-weight: 450;
   font-size: 20px;
   line-height: 21.64px;
}

.main_conditions {
   display: flex;
   flex-wrap: nowrap;
   gap: 35px;
   justify-content: space-between;
   align-items: center;
}

.calendar {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
   max-width: 551px;
   width: 100%;
   min-height: 315px;
   height: 100%;
   background-color: var(--color-white);
   border-radius: 11px;
   padding: 10.42px 50.62px 24.32px 52.06px;
}

.month_calendar {
   font-weight: 450;
   font-size: 24px;
   line-height: 25.97px;
   text-align: center;
   text-transform: uppercase;
   margin: 10px;

}

.month_calendar::after {
   content: url(../img/vector_calendar.svg);
   margin-left: 15px;
}

.calender_days {
   display: grid;
   grid-template-columns: repeat(auto-fill, 57.85px);
   grid-gap: 7.23px;
   max-width: 551px;
   width: 100%;
   max-height: 315px;
   height: 100%;
   font-family: var(--font-Book);
}

.day {
   width: 57.85px;
   height: 38.22px;
   background-color: rgba(148, 148, 148, 0.15);
   border-radius: 4px;
   font-weight: 400;
   font-size: 20px;
   line-height: 19.84px;
   text-align: center;
   text-transform: uppercase;
   padding: 9.11px 13.02px 9.11px 11.57px;
}

.day_dark {
   width: 57.85px;
   height: 38.22px;
   background-color: rgba(175, 175, 175, 0.5);
   color: rgba(30, 30, 30, 0.5);
   border-radius: 4px;
   font-weight: 400;
   font-size: 20px;
   line-height: 19.84px;
   text-align: center;
   text-transform: uppercase;
   padding: 9.11px 13.02px 9.11px 11.57px;
}

.right-part_conditions {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   align-content: flex-start;
   flex-wrap: nowrap;
   gap: 29px;
   justify-content: center;
   align-items: center;
}

.time {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   flex-wrap: nowrap;
   gap: 6px;
   font-weight: 450;
   font-size: 20px;
   line-height: 21.64px;
}

.time input {
   padding: 0 10px;
   width: 346px;
   background-color: var(--color-white);
   color: var(--color-background-dark);
   height: 45px;
   border: none;
   border-radius: 11px;
   font-weight: 450;
   font-size: 20px;
   line-height: 21.64px;
}

.sum {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
   max-width: 346px;
   width: 100%;
   background-color: var(--color-black);
   color: var(--color-white);
   border: none;
   border-radius: 11px;
   padding: 13.5px 75.5px;
}

.end-sum {
   font-weight: 450;
   font-size: 20px;
   line-height: 21.64px;
}

.end-sum-number {
   font-family: var(--font-Heavy);
   font-weight: 600;
   font-size: 57px;
   line-height: 61.67px;

}

.calendar_small {
   display: none;
}

.calendar_small input {
   width: 300px;
   background-color: var(--color-white);
   color: var(--color-background-dark);
   height: 45px;
   border: none;
   border-radius: 11px;
   font-family: var(--font-Medium);
   font-weight: 450;
   font-size: 20px;
   line-height: 21.64px;
   padding: 5px 15px;
   border: none;
}

.payment {
   background-color: rgba(148, 148, 148, 0.15);
   border: none;
   border-radius: 17px;
   max-width: 1120px;
   width: 100%;
   padding: 26px 0 28px 95px;
   margin: 0 auto;
   margin-bottom: 29px;
   font-family: var(--font-Medium);
}

.tittle_payment {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
   font-weight: 450;
   font-size: 32px;
   line-height: 34.62px;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 22px;
}

.main_payment {
   display: flex;
   flex-wrap: nowrap;
   gap: 35px;
   justify-content: flex-start;
   gap: 124px;
}

.payment_methods {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-items: center;
   flex-wrap: nowrap;
   gap: 12.27px;
}

.cards {
   position: relative;
   margin-bottom: 28px;
}

.card_red {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   min-width: 349px;
   width: 100%;
   min-height: 216px;
   height: 100%;
   padding: 30px 0;
   background-color: var(--color-orange);
   border: 1px solid var(--color-black);
   border-radius: 7px;
   position: absolute;
   left: 159px;
   bottom: -28px;
   z-index: 1;
}

.black_line {
   min-width: 349px;
   min-height: 38px;
   border: none;
   background-color: var(--color-black);
}

.red_card_number {
   font-family: var(--font-Book);
   font-weight: 400;
   font-size: 13px;
   line-height: 14.07px;
   margin: 20px 51px 3px 0;
}

.red input {
   width: 55px;
   background-color: var(--color-white);
   color: var(--color-black);
   height: 27px;
   border: none;
   border-radius: 3px;
   font-family: var(--font-Light);
   font-weight: 300;
   font-size: 16px;
   line-height: 15.87px;
   padding: 6px 14px;
   border: none;
   text-transform: uppercase;
   z-index: 2;
}



.card_blue {
   display: flex;
   flex-direction: column;
   min-width: 349px;
   width: 100%;
   min-height: 216px;
   height: 100%;
   padding: 19px 17px 0 17px;
   background-color: var(--color-blue);
   border: 1px solid var(--color-black);
   border-radius: 7px;
   position: absolute;
   z-index: 2;
}

.blue input {
   width: 266px;
   background-color: var(--color-white);
   color: var(--color-black);
   height: 27px;
   border: none;
   border-radius: 3px;
   font-family: var(--font-Light);
   font-weight: 300;
   font-size: 16px;
   line-height: 15.87px;
   padding: 6px 14px;
   border: none;
   margin-bottom: 20px;
   text-transform: uppercase;
}

.blue h5 {
   font-family: var(--font-Book);
   font-weight: 400;
   font-size: 13px;
   line-height: 14.07px;
   margin-bottom: 4px;

}

.card_validity_date {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 7px;
}

.card_validity_date input {
   width: 35px;
   height: 27px;
   padding: 5px;
   text-align: center;
}


.zamova-button {
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--color-orange);
   color: var(--color-white);
   border: none;
   border-radius: 9px;
   padding: 12px 67px;
   cursor: pointer;
   font-family: var(--font-Book);
   font-weight: 400;
   line-height: 15.15px;
   font-size: 14px;
   max-width: 284px;
   width: 100%;
   text-transform: uppercase;
   position: relative;
}

.button-wrap-zamova {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
   margin-bottom: 87px;
}







#modal {
   display: none;
   background-color: rgba(0, 0, 0, 0.8);
   position: fixed;
   inset: 0;
   z-index: 20;
   align-items: center;
   justify-content: center;
}

.modal-content {

   padding: 16px;
   background-color: transparent;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.modal-content img {
   border-radius: 11px;
   max-width: 508px;
   width: 100%;
   max-height: 528px;
   height: 100%;
}

.modal-content a {
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--color-orange);
   color: var(--color-white);
   border: none;
   border-radius: 9px;
   padding: 12px 67px;
   cursor: pointer;
   font-family: var(--font-Book);
   font-weight: 400;
   line-height: 15.15px;
   font-size: 14px;
   max-width: 284px;
   width: 100%;
   text-transform: uppercase;
   margin-top: 20px;
}

#modal:target {
   display: flex;
}
































.page-footer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: var(--color-black);
   color: var(--color-white);
   padding: 42px 160px 18px 160px;
   margin: 0 auto;
   min-height: 300px;
   width: 100%;
}

.footer-top {
   /* max-width: 655px; */
   /* width: 100%; */
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   gap: 50px;
}

.map-bottom {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-wrap: nowrap;
   gap: 12px;
   margin: 0 auto;
   /* min-width: 655px; */
   width: 100%;
}


.contact-us {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 9px;
}

.socials-bottom {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 15px;
}

.socials-bottom button {
   background-color: var(--color-black);
   border: none;
   cursor: pointer;
}

.e-mail {
   font-family: var(--font-Light);
   font-weight: 300;
   font-size: 18px;
   line-height: 19.48px;
}

.numbers th:first-child {
   font-family: var(--font-Medium);
   font-weight: 450;
   font-size: 18px;
   line-height: 19.48px;
   text-transform: uppercase;
}

.numbers th:last-child {
   font-family: var(--font-Light);
   font-weight: 300;
   font-size: 18px;
   line-height: 19.48px;
   text-transform: uppercase;
}

.map-bottom ul {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
   align-content: center;
}

.map-bottom li {
   font-family: var(--font-Light);
   font-weight: 300;
   font-size: 18px;
   line-height: 19.48px;
   text-transform: uppercase;
   text-align: center;
}


.map-bottom li:first-child {
   font-family: var(--font-Medium);
   font-weight: 450;
   font-size: 26px;
   line-height: 28.13px;
   text-transform: uppercase;
}

.address {
   font-family: var(--font-Light);
   font-weight: 300;
   font-size: 18px;
   line-height: 19.48px;
   text-align: end;
   max-width: 159px;
   width: 100%;
}

.copyright {
   margin-top: 60px;
   font-family: var(--font-Book);
   font-weight: 400;
   font-size: 13px;
   line-height: 14.07px;
   text-align: center;
   min-width: 159px;
   width: 100%;
   color: var(--color-black);
}