@media screen and (max-width: 1200px) {
   .header {
      padding-left: 10px;
      padding-right: 10px;
   }

   .place_an_order_pics {
      min-height: 500px;
      height: 100%;
   }

   .footer-top {
      flex-direction: column;
   }

   .how_to {
      margin-bottom: 20px;
   }

   .title_item_to_order {
      border: none;
      text-align: center;
   }

   .items_to_order {
      padding: 0 30px;
      align-items: center;
   }

}

@media screen and (min-width: 576px) and (max-width: 900px) {


   .top-right-text {
      display: none;
   }


   .logo {
      left: 0;
   }

   .search-container {
      display: none;
   }


   .burger span {
      display: contents;
      content: "\2630";
      color: white;

   }

   .how_to {
      padding: 15px 20px 15px 20px;
   }

   .place_an_order_pics {
      min-height: 200px;
      margin-bottom: 30px;
   }

   .ryba_place_an_order {
      display: none;
   }

   .place_an_order {
      top: 10px;
   }

   .footer-top {
      flex-direction: column;
   }

   .map-bottom {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .items_to_order {
      padding: 10px 30px;
      align-items: center;
   }

   .title_item_to_order {
      margin-bottom: 10px;
      border: none;
      text-align: center;
   }

   .main_conditions {
      flex-direction: column;
      gap: 15px;
   }

   .choose_dates {
      justify-content: center;
      align-items: center;
   }

   .time {
      justify-content: center;
      align-items: center;
   }

   .calendar_small {
      display: contents;
   }

   .calendar {
      display: none;
   }

   .main_payment {
      flex-direction: column;
      justify-content: space-evenly;
      gap: 20px;
   }

   .payment {
      padding: 26px;
   }

   .payment_methods {
      flex-direction: row;

   }

   .card_red {
      /* position: relative; */
      margin-top: 10px;
      /* top: 0;
      left: 0; */
      max-width: 349px;
   }

   .card_blue {
      left: 40px;
      max-width: 349px;

   }

   .cards {
      display: flex;
      justify-content: center;
      min-height: 216px;
   }


}

@media screen and (max-width: 576px) {

   .top-right-text {
      display: none;
   }

   .logo {
      left: 0;
   }

   .search-container {
      display: none;
   }


   .burger span {
      display: contents;
      content: "\2630";
      color: white;

   }

   .how_to {
      padding: 15px 20px 15px 20px;
      margin-bottom: 10px;
   }

   .how_to_title {
      font-size: 20px;
   }

   .how_to_text {
      font-size: 15px;
      line-height: 15px;
   }

   .ryba_place_an_order {
      display: none;
   }

   .place_an_order_pics {
      min-height: 200px;
      margin-bottom: 20px;
   }

   .footer-top {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .map-bottom {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 100%;
   }

   .page-footer {
      padding: 20px 50px 10px 50px;
   }

   .items_to_order {
      padding: 0 30px;
      align-items: center;
   }

   .title_item_to_order {
      font-size: 20px;
      margin-bottom: 5px;
      border-bottom: none;
      text-align: center;
   }

   .main_conditions {
      flex-direction: column;
      gap: 15px;
   }

   .choose_dates {
      justify-content: center;
      align-items: center;
   }

   .time {
      justify-content: center;
      align-items: center;
   }

   .calendar_small {
      display: contents;
   }

   .calendar {
      display: none;
   }

   .tittle_conditions {
      font-size: 25px;
      line-height: 25px;
   }

   .time input {
      width: 246px;
   }

   .sum {
      padding: 10px 20px;
   }

   .end-sum-number {
      font-size: 30px;
   }

   .main_payment {
      flex-direction: column;
      justify-content: space-evenly;
      gap: 20px;
   }

   .payment {
      padding: 26px;
   }

   .payment_methods {
      flex-direction: column;

   }

   .card_red {
      position: relative;
      margin-top: 10px;
      top: 0;
      left: 0;
      max-width: 349px;
   }
.card_blue{
   position: unset;
   max-width: 349px;
}

.cards{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}


}