* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

img {
   vertical-align: middle;
}


:root {
   --font-Book: 'Futura PT Book';
   --font-CondMedium: 'Futura PT Cond Medium';
   --font-Demi: 'Futura PT Demi';
   --font-Heavy: 'Futura PT Heavy';
   --font-Light: 'Futura PT Light';
   --font-Medium: 'Futura PT Medium';
   --color-orange: #F3523C;
   --color-blue: #425FDE;
   --color-grey: #949494;
   --color-black: #1E1E1E;
   --color-white: #FFFFFF;
   --color-background-dark: #353535;
}

@font-face {
   font-family: 'Futura PT Book';
   src: url(../fonts/Futura_fonts/FuturaBookC.woff);
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: 'Futura PT Cond Medium';
   src: url(../fonts/Futura_fonts/FuturaTSCondensed-Medium.woff);
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: 'Futura PT Demi';
   src: url(../fonts/Futura_fonts/FuturaDemiC.woff);
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: 'Futura PT Heavy';
   src: url(../fonts/Futura_fonts/FuturaLT-Heavy.woff);
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: 'Futura PT Light';
   src: url(../fonts/Futura_fonts/FuturaLightC.woff);
   font-style: normal;
   font-weight: normal;
}

@font-face {
   font-family: 'Futura PT Medium';
   src: url(../fonts/Futura_fonts/FuturaMediumC.woff);
   font-style: normal;
   font-weight: normal;
}



.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--color-black);
   padding: 30px 160px;
   margin: 0 auto;
   position: fixed;
   top: 0;
   z-index: 2;
   height: 90px;
   width: 100%;
}

.search-container {
   position: relative;

}


.search-container input {
   padding-left: 35px;
   color: var(--color-white);
}

.loupe {
   position: absolute;
   left: 12px;
   top: 5px;
}



.logo {
   position: absolute;
   align-items: center;
   z-index: 1;
   top: 0;
}

input {
   border-radius: 17.5px;
   background-color: rgba(255, 255, 255, 0.07);
   border: none;
   min-height: 28px;
}

.top-right {
   display: flex;
   align-items: center;
   justify-content: center;
}

.top-right-text {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 22px;
   margin-right: 49px;

}


.top-right-text a {
   background-color: var(--color-black);
   border: none;
   text-decoration: none;
   color: var(--color-white);
   cursor: pointer;
   font-family: var(--font-Book);
   font-weight: 400;
   line-height: 14.07px;
   font-size: 13px;
}

.top-right-text li:first-child::after {
   content: url(../img/range.svg);
   margin-left: 3px;
}

.top-right-pics {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 12px;
}

.top-right-pics a {
   background-color: var(--color-black);
   cursor: pointer;
   border: none;
}

.burger span {
   content: "\2630";
   display: none;
}

.trymai-rybu {
   background-color: var(--color-background-dark);
   color: var(--color-white);
   margin-top: 90px;
   padding: 46px 0 50px 0px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;

}

.socials {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   gap: 13px;
   position: absolute;
   bottom: 45px;
   left: 160px;
}

.socials button {
   background-color: var(--color-background-dark);
   border: none;
   cursor: pointer;
}


.central-part-trymai-rybu {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}

.central-part-trymai-rybu img {
   max-width: 596px;
   width: 100%;
}

.trymai-rybu-text {
   margin-bottom: 91px;
   font-family: var(--font-Medium);
   font-weight: 450;
   line-height: 34.62px;
   font-size: 32px;
   text-align: center;
   max-width: 520px;
}

.our_range {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--color-orange);
   color: var(--color-white);
   border: none;
   border-radius: 9px;
   padding: 13px 61px;
   cursor: pointer;
   text-decoration: none;
   font-family: var(--font-Book);
   font-weight: 400;
   line-height: 21.64px;
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.why {
   margin: 74px 0 64px 0;

   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: relative;
}

.socials-white {
   position: absolute;
   top: 30px;
   left: 10px;
   display: none;
}


.title-why {
   max-width: 476px;
   font-family: var(--font-Medium);
   font-weight: 450;
   font-size: 32px;
   line-height: 34.62px;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 22px;

}

.gallery-why {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 75px;
   max-width: 995px;
   margin-bottom: 64px;
}

.because {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   /* flex-basis: 30%; */
   /* flex-shrink: 1; */
   margin: 0 auto;
}

.because-text-title {
   font-family: var(--font-Medium);
   font-weight: 450;
   font-size: 24px;
   line-height: 25.97px;
   text-align: center;
   text-transform: uppercase;
   color: var(--color-orange);
   margin-bottom: 1px;
}

.because-text-main {

   font-family: var(--font-Light);
   font-weight: 300;
   font-size: 16px;
   line-height: 17.31px;
   text-align: center;
   margin-bottom: 64px;
}

.image-size {
   width: 161px;
   height: 138px;
}

.sale {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 64px;
   width: 100%;
}

.title-sale {
   max-width: 476px;
   font-family: var(--font-Medium);
   font-weight: 450;
   font-size: 32px;
   line-height: 34.62px;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 22px;
}

.banners {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   margin: 0 auto;
   width: 100%;
   background-color: var(--color-background-dark);
}

.banners img {
   max-width: 550px;
   width: 100%;
}

.assortment {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: center;
   margin-bottom: 64px;
   /* max-width: 1120px; */
   width: 100%;
}

.title-assortment {
   max-width: 476px;
   font-family: var(--font-Medium);
   font-weight: 450;
   font-size: 32px;
   line-height: 34.62px;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 22px;
}

.fish {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   max-width: 1120px;
   width: 100%;
}

.title-fish {
   max-width: 278px;
   width: 100%;
   font-family: var(--font-Medium);
   font-weight: 450;
   font-size: 32px;
   line-height: 34.62px;
   text-transform: uppercase;
   margin-bottom: 22px;
   border-bottom: 2px solid var(--color-black);
}



.gallery-fish {
   display: grid;
   grid-template-columns: repeat(auto-fill, 200px);
   grid-column-gap: 30px;
   align-items: center;
   align-content: center;
   justify-content: center;
   width: 100%;
}

.fish-item {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   background-color: rgba(148, 148, 148, 0.15);
   border-radius: 0 0 17px 17px;
   border: none;
   font-family: var(--font-Book);
   margin-bottom: 50px;
   min-height: 326px;
}

.item-header-fish {
   max-width: 200px;
   width: 100%;
   margin-bottom: 6px;
}

.item-description-fish {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 10px;
}

 h4 {
   font-weight: 400;
   font-size: 20px;
   line-height: 21.64px;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 5px;
   min-height: 45px;
}

.item-description-fish p {
   font-weight: 400;
   font-size: 13px;
   line-height: 11.66px;
   text-align: center;
}

.item-bottom-fish {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   flex-wrap: nowrap;
}

.item-bottom-fish h5 {
   font-weight: 400;
   font-size: 13px;
   line-height: 14.07px;
   text-align: center;
   color: var(--color-blue);
   border-bottom: 1px solid var(--color-blue);
   padding: 3px 8px;
   min-width: 184px;
}

.nutrition-value-fish {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: nowrap;
   gap: 2px;
   font-weight: 400;
   font-size: 12px;
   line-height: 25px;
   text-align: center;
   margin-bottom: 8px;
   padding: 8px 3px;
}

.nutrition-value-fish li:nth-child(2) {
   padding: 0 8px;
   border-right: 1px solid var(--color-blue);
   border-left: 1px solid var(--color-blue);

}

.fish-button {
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--color-blue);
   color: var(--color-white);
   border: none;
   border-radius: 9px;
   padding: 13px 61px;
   cursor: pointer;
   font-family: var(--font-Book);
   font-weight: 400;
   line-height: 21.64px;
   font-size: 20px;
   max-width: 298px;
   width: 100%;
}

.button-wrap-fish {
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;

   width: 100%;
   margin-bottom: 5px;
}



.seafood {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   max-width: 1120px;
   width: 100%;
}
/* 
.title-seafood {
   min-width: 278px;
   font-family: var(--font-Medium);
   font-weight: 450;
   font-size: 32px;
   line-height: 34.62px;
   text-transform: uppercase;
   margin-bottom: 22px;
   border-bottom: 2px solid var(--color-black);
} */

/* .gallery-seafood {
   display: grid;
   grid-template-columns: repeat(auto-fill, 200px);
   grid-column-gap: 30px;
   align-items: center;
   width: 100%;
} */

.seafood-item {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   background-color: rgba(148, 148, 148, 0.15);
   border-radius: 0 0 17px 17px;
   border: none;
   font-family: var(--font-Book);
   margin-bottom: 50px;
   max-width: 200px;
   width: 100%;
   min-height: 326px;
}

.item-header-seafood {
   max-width: 200px;
   width: 100%;
   margin-bottom: 6px;
}

.item-description-seafood {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
}

/* .description-title-seafood h4 {
   font-weight: 400;
   font-size: 20px;
   line-height: 21.64px;
   text-align: center;
   text-transform: uppercase;
   margin: 6px 6px 15px 8px;
   margin-bottom: 10px;
   min-height: 45px;
} */


.item-bottom-seafood {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   flex-wrap: nowrap;
}

.item-bottom-seafood h5 {
   font-weight: 400;
   font-size: 13px;
   line-height: 14.07px;
   text-align: center;
   color: var(--color-orange);
   border-bottom: 1px solid var(--color-orange);
   padding: 3px 8px;
   min-width: 184px;
}

.nutrition-value-seafood {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: nowrap;
   gap: 2px;
   font-weight: 400;
   font-size: 12px;
   line-height: 25px;
   text-align: center;
   margin-bottom: 8px;
   padding: 8px 3px;
}

.nutrition-value-seafood li:nth-child(2) {
   padding: 0 8px;
   border-right: 1px solid var(--color-orange);
   border-left: 1px solid var(--color-orange);

}

.seafood-button {
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--color-orange);
   color: var(--color-white);
   border: none;
   border-radius: 9px;
   padding: 13px 61px;
   cursor: pointer;
   font-family: var(--font-Book);
   font-weight: 400;
   line-height: 21.64px;
   font-size: 20px;
   max-width: 298px;
   width: 100%;
}

.button-wrap-seafood {
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;

   width: 100%;
   margin-bottom: 5px;
}

.fishes-bottom img {
   margin-bottom: 68px;
   width: 100%;
   margin:0 auto;
}

.page-footer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: var(--color-black);
   color: var(--color-white);
   padding: 42px 160px 18px 160px;
   margin: 0 auto;
   min-height: 300px;
   width: 100%;
}

.footer-top {
   /* max-width: 655px; */
   /* width: 100%; */
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   gap: 50px;
}

.map-bottom {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-wrap: nowrap;
   gap: 12px;
   margin: 0 auto;
   /* min-width: 655px; */
   width: 100%;
}


.contact-us {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 9px;
}

.socials-bottom {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 15px;
}

.socials-bottom button {
   background-color: var(--color-black);
   border: none;
   cursor: pointer;
}

.e-mail {
   font-family: var(--font-Light);
   font-weight: 300;
   font-size: 18px;
   line-height: 19.48px;
}

.numbers th:first-child {
   font-family: var(--font-Medium);
   font-weight: 450;
   font-size: 18px;
   line-height: 19.48px;
   text-transform: uppercase;
}

.numbers th:last-child {
   font-family: var(--font-Light);
   font-weight: 300;
   font-size: 18px;
   line-height: 19.48px;
   text-transform: uppercase;
}

.map-bottom ul {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
   align-content: center;
}

.map-bottom li {
   font-family: var(--font-Light);
   font-weight: 300;
   font-size: 18px;
   line-height: 19.48px;
   text-transform: uppercase;
   text-align: center;
}


.map-bottom li:first-child {
   font-family: var(--font-Medium);
   font-weight: 450;
   font-size: 26px;
   line-height: 28.13px;
   text-transform: uppercase;
}

.address {
   font-family: var(--font-Light);
   font-weight: 300;
   font-size: 18px;
   line-height: 19.48px;
   text-align: end;
   max-width: 159px;
   width: 100%;
}

.copyright {
   margin-top: 60px;
   font-family: var(--font-Book);
   font-weight: 400;
   font-size: 13px;
   line-height: 14.07px;
   text-align: center;
   min-width: 159px;
   width: 100%;
   color: var(--color-black);
}