@media screen and (max-width: 1200px) {
   .header {
      padding-left: 10px;
      padding-right: 10px;
   }
}

@media screen and (min-width: 576px) and (max-width: 900px) {
   .gallery-why {
      flex-direction: column;
      gap: 0;
   }
   .because {
      max-width: 320px;
   }
   .trymai-rybu {
      padding: 0 0 10px 0;
   }
   .our_range button {
      padding: 10px 15px;
      font-size: 15px;

   }
   .socials {
      left: 10px;
   }
   .trymai-rybu-text{
      margin-bottom: 30px;
   font-family: var(--font-Medium);
   /* font-weight: 300; */
   /* line-height: 34.62px; */
   font-size: 20px;
   /* text-align: center;
   max-width: 520px; */
   }


}

@media screen and (max-width: 575px) {}