@media screen and (max-width: 1200px) {
   .header {
      padding-left: 10px;
      padding-right: 10px;
   }


   .footer-top {
      flex-direction: column;
   }

   .assortment {
      padding: 0 50px;
      align-items: center;
      justify-content: center;

   }

   .gallery-fish {
      grid-column-gap: 10px;
      padding: 0 30px;
   }

   .fishes-bottom {
      margin-bottom: 0;
   }

   .banners {
      flex-direction: column;
   }

}

@media screen and (min-width: 576px) and (max-width: 900px) {

   .header {
      padding-left: 10px;
      padding-right: 10px;
   }

   .gallery-why {
      flex-direction: column;
      gap: 0;
   }

   .because {
      max-width: 320px;
   }

   .because-text-main {
      margin-bottom: 10px;
   }

   .trymai-rybu {
      padding: 0 0 10px 0;
   }

   .our_range button {
      padding: 10px 15px;
      font-size: 15px;
   }

   .socials {
      left: 10px;
      bottom: 10px;
   }

   .trymai-rybu-text {
      margin-bottom: 30px;
      font-family: var(--font-Medium);
      font-size: 20px;
   }

   .why {
      margin-top: 10px;
      margin-bottom: 10px;
   }

   .title-why {
      font-size: 20px;
      margin-bottom: 12px;
      max-width: 320px;
   }

   .top-right-text {
      display: none;
   }

   .logo {
      left: 0;
   }

   .search-container {
      display: none;
   }


   .burger span {
      display: contents;
      content: "\2630";
      color: white;

   }

   .title-sale {
      font-size: 20px;
      margin-bottom: 12px;
      max-width: 320px;
   }

   .banners {
      flex-direction: column;
   }

   .sale {
      margin-bottom: 10px;
   }

   .fishes-bottom {
      margin-bottom: 10px;
   }

   .footer-top {
      flex-direction: column;
   }

   .map-bottom {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .assortment {
      padding: 0 15px;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
   }


   .gallery-fish {
      grid-column-gap: 10px;
      padding: 0 30px;
   }

   .title-fish {
      font-size: 20px;
      margin-bottom: 15px;
   }

   .title-assortment {
      font-size: 25px;
      margin-bottom: 5px;
   }

   .fish-button {
      padding: 13px 0;
      font-size: 15px;
   }

   .button-wrap-fish {
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
   }

   .seafood-button {
      padding: 13px 0;
      font-size: 15px;
   }

   .button-wrap-seafood {
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
   }

   .banners {
      flex-direction: column;
   }

   .central-part-trymai-rybu {
      justify-content: center;
      align-items: center;
   }

}

@media screen and (max-width: 576px) {

   .central-part-trymai-rybu {
      justify-content: center;
      align-items: center;
   }


   .header {
      padding-left: 10px;
      padding-right: 10px;
   }

   .gallery-why {
      flex-direction: column;
      gap: 0;
   }

   .because {
      max-width: 161px;
   }

   .because-text-main {
      margin-bottom: 10px;
   }

   .trymai-rybu {
      padding: 0 0 10px 0;
   }

   .our_range button {
      padding: 10px 15px;
      font-size: 15px;
   }

   .socials {
      display: none;
   }

   .socials-white {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 13px;

   }

   .socials-white button {
      border: none;
      cursor: pointer;
   }

   .trymai-rybu-text {
      margin-bottom: 30px;
      font-family: var(--font-Medium);
      font-size: 20px;
   }

   .why {
      margin-top: 10px;
      margin-bottom: 10px;
   }

   .title-why {
      font-size: 20px;
      margin-bottom: 12px;
      max-width: 320px;
   }

   .top-right-text {
      display: none;
   }

   .logo {
      left: 0;
   }

   .search-container {
      display: none;
   }


   .burger span {
      display: contents;
      content: "\2630";
      color: white;

   }


   .title-sale {
      font-size: 20px;
      margin-bottom: 12px;
      max-width: 320px;
   }

   .banners {
      flex-direction: column;
   }

   .sale {
      margin-bottom: 10px;
   }


   .fishes-bottom {
      margin-bottom: 10px;
   }

   .footer-top {
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .map-bottom {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 100%;
   }

   .page-footer {
      padding: 20px 50px 10px 50px;
   }

   .assortment {
      padding: 0 15px;
      align-items: center;
      justify-content: center;
      margin-bottom: 2px;
   }

   .fish {

      align-items: center;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
   }


   .gallery-fish {
      grid-column-gap: 10px;
      padding: 0 30px;
   }

   .title-fish {
      font-size: 20px;
      margin-bottom: 5px;
      border-bottom: none;
      text-align: center;
   }

   .title-assortment {
      font-size: 25px;
      margin-bottom: 5px;
   }

   .fish-button {
      padding: 13px 0;
      font-size: 15px;
   }

   .button-wrap-fish {
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
   }

   .seafood-button {
      padding: 13px 0;
      font-size: 15px;
   }

   .button-wrap-seafood {
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
   }

   .fishes-bottom {
      margin-bottom: 0;
   }

}